.git
.husky
.vscode
.env
vendor/
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
public/hot
public/build
*.sqlite