-----BEGIN OPENSSH PRIVATE KEY-----
# This is a template showing the expected format of the SSH private key.
# DO NOT commit the actual private key file (id_rsa_controlmantencion).
#
# The actual private key should be downloaded from:
# https://drive.google.com/file/d/1HB-tkhtnczAkz74UHQYcTFRec2n1xZuP/view?usp=drive_link
#
# After downloading, place it in the project root as: id_rsa_controlmantencion
# Then run: make setup-cpanel-ssh
#
# The .gitignore is configured to prevent accidental commits of:
# - id_rsa_controlmantencion (private key)
# - id_rsa_controlmantencion.pub (public key)
-----END OPENSSH PRIVATE KEY-----
