:root {
    --color-primary-light: #4d8b32;
    --color-secondary-light: #ddf4ce;
    --color-primary-dark: #1e5834;

    /* Dashboard Colors */
    --color-success: #10b981;
    --color-success-dark: #059669;
    --color-warning: #f59e0b;
    --color-warning-dark: #d97706;
    --color-failure: #ef4444;
    --color-failure-dark: #dc2626;
    --color-gauge-background: #e5e7eb;
    --color-gauge-background-dark: #374151;
}
